body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #1a1a1a, #4a4a4a); /* Background like space and mountains */
    margin: 0;
}

.board {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* background: radial-gradient(circle, #001d3d, #012a4a, #013a63, #01497c); Space colors */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.board:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background: rgba(255, 255, 255, 0.1); */
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 1;
    background-color: #001d3d;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.half-circle {
    color: aliceblue;
    position: absolute;
    width: 250px;
    height: 500px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
    left: 50%;
    transform-origin: center left;
    transform: rotate(15deg);
}

.half-circle > p {
    font-size: 1.5rem;
    text-align: center;
    width: 95px;
    height: 240px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: -15px;
    transform-origin: inherit center;
    transform: rotate(15deg);
}

.half-circle:hover {
    background-color: aliceblue;
    opacity: 10%;
}

.half-circle-dummy {
    color: aliceblue;
    position: absolute;
    width: 250px;
    height: 500px;
    border-bottom-right-radius: 500px;
    border-top-right-radius: 500px;
    transform-origin: center left;
}

.cover {
    background: radial-gradient(circle, #001d3d, #012a4a, #013a63, #01497c); /* Space colors */
    left: 50%;
}

.dark-sector {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: #0a0a1e;
    transform-origin: center right;
}

#movesector,
#observe {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
}

#observe {
    top: 105%;
}
