<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <title>Title</title>
        <link rel="stylesheet" href="css/home/styles.css" />
        <script src="js/home/title.js" defer></script>
    </head>
    <body style="background-image: url('images/background.jpg')">
        <div class="title">
            <img src="images/logo-ko.png" />
            <p class="notion">
                이 애플리케이션은 단독으로 사용할 수 있습니다. <행성 X를 찾아서> 보드게임이 없어도 됩니다.
                <a href="http://SearchForPlanetX.com">SearchForPlanetX.com </a>
            </p>
            <hr class="line" />
            <div class="menu-button">
                <button id="new-game">새 게임 시작</button>
            </div>
            <hr class="line" />
        </div>
        <div style="display: none" class="difficulty">
            <p class="select-difficulty">난이도 선택</p>
            <hr class="line" />
            <div class="menu-button">
                <button id="easy">쉬움 (12개의 시작 정보)</button>
                <button id="normal">보통 (8개의 시작 정보)</button>
                <button id="hard">어려움 (4개의 시작 정보)</button>
                <button id="very-hard">아주 어려움 (0개의 시작 정보)</button>
                <hr class="line" />
                <button id="back">돌아가기</button>
            </div>
            <hr class="line" />
        </div>
    </body>
</html>
